nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkslategray;
    height: 77px;
}

nav a{
    text-decoration: none;
}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    padding-left: 15px;


}

li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

span{
    color: white;
    font-size: 30px;
}

a:hover{
    color: gold;
    text-decoration: underline;
}

